html, body
  margin: 20px
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.indicators
  padding-top: 20px
#playground
  width: 780px
  height: 374px
  background: url(/img/rink.svg) no-repeat center center
  -webkit-background-size: 100% auto
  -moz-background-size: 100% auto
  -o-background-size: 100% auto
  background-size: 100% auto